body{
    front-family: Arial, Helvetica, sans-serif;
}

div{
    padding: 20px;
}

.logo-img{
display: block;
margin: 0 auto;
}

.center-span{
    
    margin: auto;
}

fieldset{
    width: 75%;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 5px 25px;
    margin-bottom: 20px;
    margin-top: 0px;
}

fieldset label{
    front-size: 90%;
}

form input{
    display: block;
    width: 100%;
    border: 1px solid grey;
    border-radius: 2px;
    margin-bottom: 25px;
}

form input[type="submit"]{
background-color: goldenrod;
front-size: 90%
}

a {
    text-decoration: none;
}

h6,button{
    width: 75%;
    text-align: center;
}

h6{
    color: #767676
    border-bottom: 1px solid #767676;
    line-height: 0.1em;
    margin: 30px 
}

span{
    background-color: #fff;
    color: #767676;
    padding: 0 10px;
}

.other-span{
    text-align: center;
    margin: 0 auto;

}
button{
    front-size:90%
    padding: 5px;
    margin-top: 25px
    background-color: #e7e9ec;
    border: 1px solid #adb1b8;
    border-radius: 2px;
    margin-bottom: 20px;
}